*, *:before, *:after {
  box-sizing: border-box;
}

$primary: #B6CCA1; //dark green
$secondary: #D7FCD4; //lighter green
$tertiary: #B68F40;  //goldish
$quatro: #545454;  //grey
$cinco: #30011E;  //eggplant

header {
  overflow: auto;
  background-image: url('../public/cheap_diagonal_fabric.png');
}

section {
  float: left;
  margin-left: 40px;
  margin-top:34px;
}

nav.main-nav {
  width: 100%;
  background-color: darken($primary, 20);
  clear: both;
  overflow: auto;
  a {
    float: left;
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: $primary;
    }
  }
}

p {
  color: $cinco;
}

h1 {
  color: $cinco;
  letter-spacing: 0.2em;
  font-size: 40px;
}

h3 {
  color: $tertiary;
  letter-spacing: 0.3em;
  font-size: 24px;
  line-height: 3;
}

h4 {
  padding-bottom: 80px;
  color: $quatro;
}
