*, *:before, *:after {
  box-sizing: border-box;
}

$primary: #FFBC42; //pastel orange
$secondary: #D81159; //debian red
$tertiary: #8F2D56;  //dark raspberry
$quatro: #218380;  //celadon green
$cinco: #73D2DE;  //middle blue

header {
  overflow: auto;
  background-color: rgba(84,84,84,0.8);
  h4 {
    padding-bottom: 80px;
  }
}

section {
  float: left;
  margin-left: 40px;
  margin-top:34px;
}

nav.main-nav {
  width: 100%;
  background-color: $tertiary;
  clear: both;
  overflow: auto;
  a {
    float: left;
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: $cinco;
    &:hover {
      background-color: $secondary;
    }
  }
}

p {
  color: $quatro;
}

h1 {
  color: $cinco;
  letter-spacing: 0.2em;
  font-size: 40px;
}

h3 {
  color: $primary;
  letter-spacing: 0.3em;
  font-size: 24px;
  line-height: 3;
}

h4 {
  color: $quatro;
}

.guts {
  height: 100%;
  min-height: 700px;
}

.view {
  margin-left: 10%;
  width: 80%;
  padding: 5%;
  background-color: white;
  min-height: 700px;
}

.button.active {
  background-color: $primary;
}

body {
  background-image: url('../public/tree_bark.png');
}
